@model NotesApp.Models.Note

<h2>Create Note</h2>

<form method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>

    <div>
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>
    
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}